.actions
  font-size: 1rem
  position: absolute
  bottom: emCalc(15px)
  right: emCalc(15px)
  &--hidden
    display: none
  .button
    margin-top: emCalc(15px)
    display: block

.menu-toggle
  font-size: 1rem
  position: absolute
  top: 0
  left: 0
