/**
 * Basics
 */

*, *:before, *:after
  box-sizing: border-box

html, body
  font-family: 'Roboto', sans-serif
  font-size: 100%
  font-weight: 400
  line-height: 1.333
  height: 100%
  width: 100%

h1, h2, h3, h4
  margin: 0

.overlay
  font-size: 1rem
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0, 0, 0, .33)
  z-index: 2
  &--hidden
    display: none
  &__content
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.button
  font-size: emCalc(14px)
  background: $color-blue
  color: $color-white
  border: none
  border-radius: 2px
  outline: none
  display: inline-block
  height: emCalc(36px, 14)
  line-height: emCalc(36px, 14)
  padding: 0 emCalc(16px, 14)
  text-transform: uppercase
  transition: background .25s ease
  shadow(1)
  &:hover, &:focus
    background: darken($color-blue, 15%)
  &:active
    background: darken($color-blue, 25%)
  &--flat
    color: $color-blue
    background: transparent
    padding: 0 emCalc(8px, 14)
    shadow(0)
    &:hover, &:focus
      background: rgba(#999, 0.2)
    &:active
      background: rgba(#999, 0.4)
