.error
  font-size: 1rem
  &__title
    color: $color-grey
    font-size: emCalc(16px)
  &__actions
    text-align: right
  .mdl-card
    min-height: 0
    .mdl-card__title
      padding-left: emCalc(24px)
      padding-right: emCalc(24px)
