/**
 * The filters sidebar
 */
.filters
  font-size: 1rem
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  z-index: 1
  -webkit-overflow-scrolling: touch
  transition: transform 0s linear
  &--hidden
    transform: translateX(100%)
    transition: transform 0s .2s linear
    .filters__content
      transform: translateX(100%)
    &:before
      display: none
      background: transparent
  &--rtl
    direction: rtl
    .filter__text
      margin: 0 emCalc(10px) 0 0
  &:before
    content: ''
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: $overlay-background
    z-index: -1
    transition: background .2s ease-in-out
  &__content
    background: $color-white
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width: 100%
    transition: transform .2s ease-in-out
    @media (min-width: 456px)
      width: emCalc(400px)
    &__header
      position: absolute
      top: 0
      left: 0
      right: 0
      shadow(1)
    &__body
      height: 100%
      padding-top: $toolbar-height + emCalc(8px)
      padding-bottom: emCalc(8px)
      overflow-y: auto
      overflow-x: hidden

.filter
  padding: 0 emCalc(16px)
  cursor: pointer
  height: emCalc(56px)
  line-height: emCalc(56px)
  transition: background .2s ease-in-out
  &--active, &:hover, &:focus
    background: rgba(#999, 20%)
  &:active
    background: rgba(#999, 40%)
  &__image
    vertical-align: middle
    width: emCalc(30px)
  &__text
    margin-left: emCalc(26px)
    vertical-align: middle
