/**
 * The filters sidebar
 */

#category-icons
  display: none

.filters
  font-size: 1rem
  &__content
    &__header
      z-index: 1
      position: absolute
      top: 0
      left: 0
      right: 0
      shadow(1)

.filter-select
  height: 100%
  padding-top: $toolbar-height + emCalc(8px)
  padding-bottom: emCalc(8px)
  overflow-y: auto
  overflow-x: hidden
