.infowindow
  font-size: 1rem
  background: #fff
  position: absolute
  left: 0
  right: 0
  bottom: 0
  max-height: 75%
  z-index: 4
  transition: transform .2s ease-in-out
  &--hidden
    transform: translateY(150%)
  &__close
    position: absolute
    top: 0
    right: emCalc(15px)
    transform: translateY(-50%)
    z-index: 1
  &__maplink
    cursor: pointer
    &:hover
      color: $color-blue
      text-decoration: underline
  &__body
    padding: emCalc(8px) 0
    &__row
      padding: emCalc(16px) emCalc(16px) emCalc(16px) emCalc(72px)
      min-height: emCalc(56px)
      position: relative
      &--hidden
        display: none
      &__icon
        fill: $color-blue
        position: absolute
        top: emCalc(13px)
        left: emCalc(16px)
      &__content
        font-size: emCalc(14px)
