.infowindow
  max-width: 200px
  hr
    border: 0
    height: 1px
    background: #adadad;
    background-image: linear-gradient(to right, #fff, #adadad, #fff)
  &__title
    margin-bottom: 5px
  &__address
    margin-bottom: 5px
    &__image
      width: 20px
      vertical-align: middle
      margin-right: 3px
    &__text
      vertical-align: middle

  &__description
    margin-bottom: 5px
  &__hours
    &__image
      width: 20px
      vertical-align: middle
      margin-right: 5px
    &__text
      vertical-align: middle
