.infowindow
  font-size: remCalc(14px)
  background: #fff
  position: absolute
  left: 0
  right: 0
  bottom: 0
  max-height: 25vh
  padding: 1em 2em
  &--hidden
    display: none
  &__close
    position: absolute
    top: .5em
    right: .5em
  hr
    border: 0
    height: 1px
    background: #adadad;
    background-image: linear-gradient(to right, #fff, #adadad, #fff)
  &__title
    margin-bottom: emCalc(5px, 14)
  &__address
    margin-bottom: emCalc(5px, 13)
    &__image
      width: emCalc(20px, 14)
      vertical-align: middle
      margin-right: emCalc(3px, 14)
    &__text
      vertical-align: middle
  &__description
    margin-bottom: emCalc(5px, 14)
  &__hours
    &__image
      width: emCalc(20px, 14)
      vertical-align: middle
      margin-right: emCalc(5px, 14)
    &__text
      vertical-align: middle
