.language-filter
  font-size: 1rem
  display: flex
  align-items: center
  justify-content: space-between
  padding: emCalc(10px)
  &__flag
    margin-right: emCalc(10px)
    svg
      width: emCalc(20px)
      height: emCalc(15px)
      vertical-align: middle
    &:last-child
      margin: 0
