.print
  overflow-y: scroll
  position: static
  .actions,
  .menu,
  .map,
  .menu__content,
  .sidebar__obfuscator,
  .infowindow,
  .filters
    display: none
  .infowindow
    display: none
  .filters
    display: none
  body
    position: static

.print-view
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: white
  display: none
  overflow-y: scroll
  z-index: 100
  .print &
    display: block
  .qr-code, .qr-link
    vertical-align: middle
  .qr-link
    font-size: 2.5em;
    font-weight: bold;
  &__image
    width: 100%
  &__list
    font-size: 13px
    padding: 10px
    display: flex
    flex-wrap: wrap
    &__item
      padding: 5px
      margin-top: 5px
      width: 160px
      &__index
        font-weight: 700
      &__name
        margin-left: 10px
        font-weight: 700
      &__address
        font-size: 11px
