.print
  .actions
    display: none
  .menu
    dispaly: none
  .map
    display: none
  .menu__content
    display: none

.print-view
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: blue
  z-index: 100
  &__image
    width: 100%
