{{define "actions"}}
  <button class="menu-toggle button button--flat button--icon">
    <svg class="icon">
      <use xlink:href="/static/images/icons.svg#menu" />
    </svg>
  </button>

  <div class="actions actions--hidden">
    <button class="center button button--fab button--white">
      <svg class="icon">
        <use xlink:href="/static/images/icons.svg#gps" />
      </svg>
    </button>
    <button class="filters-toggle button button--fab">
      <svg class="icon">
        <use xlink:href="/static/images/icons.svg#search" />
      </svg>
    </button>
  </div>
{{end}}
