{{define "filters"}}
  <section class="filters sidebar sidebar--from-right sidebar--hidden">
    <div class="sidebar__obfuscator"></div>
    <main class="filters__content sidebar__content">
      <header class="filters__content__header toolbar toolbar--with-action">
        <button type="button" class="filters__content__header__back button button--flat toolbar__action">
          <svg class="icon">
            <use xlink:href="/static/images/icons.svg#arrow-back" />
          </svg>
        </button>
        <h2 class="filters__content__header__title toolbar__title toolbar--with-action__title">Filter</h2>
      </header>
      <form class="filter-select select-list">
        <ul class="filter-select__body">
          {{range .categories}}
            <li>
              <input checked="{{.Checked}}" value="{{.Key}}" id="{{.Key}}" name="category" type="radio">
              <label for="{{.Key}}" class="select-list__item select-list__item--with-image" data-key="{{.Key}}" {{range .Languages}}data-{{.Name}}="{{.Text}}" {{end}}>
                <svg class="icon"><use xlink:href="#icon-{{.Key}}" /></svg>
                <span class="select-list__item__text"></span>
              </label>
            </li>
          {{end}}
        </ul>
      </form>
    </main>
  </section>
{{end}}
